<!DOCTYPE html>
<html >
<body  align="center" style="background-color:green;">
<head>
  <meta charset="UTF-8">
  <title>Recommendation System</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <style>
      body {
        font-family: 'Tangerine', serif;
        font-size: 20px;
           }
    </style>


</head>

<body>
 <div class="login">
    <h1 style="text-align:center">Ebuss e-Commerce company</h1>
	<h2 style="text-align:center">Product Recommendation to User based on Sentiment Analysis</h2>

      <form align="center" action="{{ url_for('predict')}}"method="post">
        <select name="username" method="GET" action="/">
        {% for user in username %}
        <option value="{{user}}" SELECTED>{{user}}</option>"
        {% endfor %}
        </select>
    	<input type="text" style="text-align:center" name="Input_UserName" placeholder="Input_UserName" required="required" />
        <br>
        <h15 style="text-align:center">Sample Users: brittani, makeupprincess2017, laurenp, valerdgz, mandy0326, joshua, dorothy w, rebecca, walker557, samantha</h15>
        <br>
        <br>
        <button align="center" type="submit" class="btn btn-primary btn-block btn-large">Recommend</button>
    </form>

   <br>
   <br>
     <div align="center">
         {% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
         {% endfor %}
     </div>
 </div>


</body>
</html>